Button {
  background-color: white;
  border: 1px solid blue;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
}

Input {
  margin: 10px;
  padding: 3px;
}

.input-area {
  display: inline-block;
  position: relative;
}

#add-person-btn {
  display: inline-block;
  position: absolute;
  top: 0;
}

.red {
  background-color: red;
}

.lightgreen {
  background-color: lightgreen;
}

.bold {
  font-weight: bold;
}

.App {
  text-align: center;
}

.warning-text {
  color: red;
}